In [1]:
fullname="vijaya lakshmi"
print(fullname)

vijaya lakshmi

In [2]:
print(fullname.title())

Vijaya Lakshmi

In [3]:
print(fullname.upper())

VIJAYA LAKSHMI

In [ ]:
#to convert into lower case

In [4]:
print(fullname.lower())

vijaya lakshmi

In [6]:
name3=fullname.upper()
print(name3)

VIJAYA LAKSHMI

In [7]:
print(name3.lower())

vijaya lakshmi

In [ ]:
Introduction to f STRING

In [8]:
fname='raja'
mname='raja'
lname='chozhan'

In [ ]:
#How to concatenate above

In [14]:
fulname=f"{fname} {mname} {lname}"#to add space in between 
print(fulname)

raja raja chozhan

In [ ]:
#to enhance the output

In [15]:
print(fulname.title())

Raja Raja Chozhan

In [16]:
fulname=f"The great king {fname} {mname} {lname}"#to add space in between 
print(fulname)

The great king raja raja chozhan